.form-container {
	/*background-color: grey;*/

	padding: 10px;
	height: 100%;

	font-weight: 400;
	font-size: 1.2rem;

	display: grid;

	grid-template-columns: 0.5fr 1fr;
	grid-template-rows: .8fr .8fr .8fr .8fr 2fr .8fr;
	grid-gap: 1rem;
	grid-template-areas: 
	"contact-form-div contact-form-div"
	"firstNameLabel firstNameInput"
	"lastNameLabel lastNameInput"
	"emailLabel emailInput"
	"comment_text_area_input_label comment_text_area_input"
	"sendButton sendButton"
	;
}

.contact-form-div {
	grid-area: contact-form-div;
	text-align: center;

	border-radius: 12px;
	border-style: none;

	position: relative;	
	box-shadow: 0px 0px 10px -2px #304A4C;

	font-size: 2rem;
}

#firstNameLabel {
	grid-area: firstNameLabel;
}

#firstNameInput {
	grid-area: firstNameInput;
}

#lastNameLabel {
	grid-area: lastNameLabel;
}

#lastNameInput {
	grid-area: lastNameInput;
}

#emailLabel {
	grid-area: emailLabel;
}

#emailInput {
	grid-area: emailInput;
}

#comment_text_area_input_label {
	grid-area: comment_text_area_input_label;
}

#comment_text_area_input {
	grid-area: comment_text_area_input;

	padding-top: 10px;
	padding-bottom: 10px;

	font-family: Kanit, sans-serif;
	font-weight: 300;
	font-size: 1rem;
}

#sendButton {
	grid-area: sendButton;
	width: 30%;
	height: 2.5rem;
	justify-self: center;
}

#firstNameInput, #lastNameInput, #emailInput {
	height: 2.5rem;
}
